section {
  margin: 32px auto;
}

section h2 {
  font-weight: 800
}

section p {
  line-height: 1.75;
}

.major {
  background-color: #3949AB;
  border-radius: 3px;
  color:#FFFFFF;
  padding: 0px 4px 2px 4px;
  text-decoration: none;
}

.school {
  background-color: #ACCCE6;
  border-radius: 3px;
  color:#000000;
  padding: 0px 4px 2px 4px;
  text-decoration: none;
}

.job {
  background-color: #EF5350;
  border-radius: 3px;
  color:#FFFFFF;
  padding: 0px 4px 2px 4px;
}

.react {
  background-color: #7ED8F7;
  border-radius: 3px;
  color:#282C33;
  padding: 0px 4px 2px 4px;
  text-decoration: none;
}

.redux {
  background-color: #6F4FB6;
  border-radius: 3px;
  color:#FFFFFF;
  padding: 0px 4px 2px 4px;
  text-decoration: none;
}

.node {
  background-color: #2D6B1B;
  border-radius: 3px;
  color:#FFFFFF;
  padding: 0px 4px 2px 4px;
  text-decoration: none;
}

.css {
  background-color: #3468E8;
  border-radius: 3px;
  color:#FFFFFF;
  padding: 0px 4px 2px 4px;
}

.github {
  background-color: #222222;
  border-radius: 3px;
  color:#FFFFFF;
  padding: 0px 4px 2px 4px;
  text-decoration: none;
}

.coding {
  background-color: #FFC107;
  border-radius: 3px;
  color:#000000;
  padding: 0px 4px 2px 4px;
}

.powerlifting {
  background-color: #4CAF50;
  border-radius: 3px;
  color:#FFFFFF;
  padding: 0px 4px 2px 4px;
}

.running {
  background-color: #EB5929;
  border-radius: 3px;
  color:#FFFFFF;
  padding: 0px 4px 2px 4px;
}

.photos {
  background-color: #AAF0D1;
  border-radius: 3px;
  color:#000000;
  padding: 0px 4px 2px 4px;
}