.rightAlign {
  float: right;
}

.leftAlign {
  float: left;
}

.title {
  color: inherit;
  text-decoration: none;
  transition: color 0.25s ease-out;
}

.pulsate {
  animation: pulse 15s infinite;
}

@keyframes pulse {
  0% {
    color: inherit;
  }
  50% {
    color: #FF4E4E;
  }
  100% {
    color: inherit;
  }
}