.rightAlign {
  float: right;
}

.leftAlign {
  float: left;
}

.block {
  color: inherit;
  transition: color 0.1s ease-out;
}

.link {
  text-decoration: none;
}

.title-hover:hover {
  color: #FF4E4E;
}

.bullet-hover0:hover {
  color: #FF8F00;
}

.bullet-hover1:hover {
  color: #F4B400;
}

.bullet-hover2:hover {
  color: #0F9D58;
}

.bullet-hover3:hover {
  color: #4285F4;
}