.rightAlign {
  float: right;
}

.leftAlign {
  float: left;
}

.title {
  color: inherit;
  transition: color 0.25s ease-out;
}

.link {
  text-decoration: none;
}

.title-hover:hover {
  color: #FF4E4E;
}
