.heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1em;
}

.resume {
  color: inherit;
  font-size: 1.75em;
  font-weight: 800;
  text-decoration: none;
  margin: 0em 0.5em;
}