.letter {
  transition: color 0.1s ease-in-out;
}

.letter:active {
  transition: color 0.1s ease-in-out;
}

.letter-1:hover {
  color: #147EFB;
}

.letter-2:hover {
  color: #FF8F00;
}

.letter-3:hover {
  color: #FECB2E;
}

.letter-4:hover {
  color: #833AB4;
}

.letter-5:hover {
  color: #AAF0D1;
}

.letter-6:hover {
  color: #EB5929;
}

.letter-7:hover {
  color: #7ED8F7;
}

.letter-8:hover {
  color: #EF5350;
}

.letter-9:hover {
  color: #3949AB;
}

.letter-10:hover {
  color: #4CAF50;
}

.big-space {
  padding: 0em 0.1em;
}

.profile-pic {
  height: 10em;
  border-radius: 5em;
  pointer-events: none;
}