.sentence {
  transition: color 0.1s ease-in-out;
}

.sentence-hover-glow:hover {
  color: #147EFB;
}

.highlight {
  display: inline-block;
  border-radius: 3px;
  margin: 0.15em 0em;
  padding: 0.2em 0.2em;
  text-decoration: none;
}

.hello {
  background-color: #FFDC80;
  color:#282C33;
}

.major {
  background-color: #3949AB;
  color:#FFFFFF;
}

.school {
  background-color: #ACCCE6;
  color:#282C33;
}

.full-stack-engineer {
  background-color: #1652F0;
  color:#FFFFFF;
}

.typescript {
  background-color: #007ACC;
  color: #FFFFFF;
}

.python {
  background-color: #4576A7;
  color: #FFFFFF;
}

.react {
  background-color: #7ED8F7;
  color:#282C33;
}

.openmeal {
  background-color: #FF6027;
  color:#FFFFFF;
}

.co-founder {
  background-color: #E8745D;
  color:#FFFFFF;
}

.fe-lead {
  background-color: #5E7A66;
  color:#FFFFFF;
}

.coding {
  background-color: #147EFB;
  color:#FFFFFF;
}

.powerlifting {
  background-color: #6ED799;
  color:#000000;
}

.running {
  background-color: #EB5929;
  color:#FFFFFF;
}

.photos {
  background-color: #FECB2E;
  color:#000000;
}

.grow {
  transition: transform 0.2s ease-in-out;
}

.grow:hover, .grow:active {
  transform: scale(1.25);
  cursor: default;
}
