.highlight {
  display: inline-block;
  border-radius: 3px;
  margin: 0.15em 0em;
  padding: 0.2em 0.4em;
  text-decoration: none;
}

.major {
  background-color: #3949AB;
  color:#FFFFFF;
}

.school {
  background-color: #ACCCE6;
  color:#000000;
}

.job {
  background-color: #EF5350;
  color:#FFFFFF;
}

.react {
  background-color: #7ED8F7;
  color:#282C33;
}

.redux {
  background-color: #6F4FB6;
  color:#FFFFFF;
}

.node {
  background-color: #2D6B1B;
  color:#FFFFFF;
}

.css {
  background-color: #3468E8;
  color:#FFFFFF;
}

.fun {
  background-color: #4CAF50;
  color:#FFFFFF;
}

.github {
  background-color: #222222;
  color:#FFFFFF;
}

.coding {
  background-color: #FFC107;
  color:#000000;
}

.powerlifting {
  background-color: #CBCDCD;
  color:#000000;
}

.running {
  background-color: #EB5929;
  color:#FFFFFF;
}

.photos {
  background-color: #AAF0D1;
  color:#000000;
}

.grow {
  transition: transform 0.2s ease-in-out;
}

.grow:hover {
  transform: scale(1.25);
  cursor: default;
}