/*
 * 1em is 16px
 * There's only one em value to overwrite (html font-size) because em scales
 * relative to its parent (html is the root parent) font size
 */
html {
  background-color: #16171D;
  font-size: 16px;
  line-height: 1.75em;
}

::-webkit-scrollbar {
  display: none;
}

header {
  text-align: center;
}

header h1 {
  font-size: 3.5em;
  font-weight: 600;
  letter-spacing: -0.0125em;
}

header h2 {
  font-size: 1.25em;
  font-weight: 400;
  line-height: 1;
}

hr {
  margin: 1em 1em;
  border-width: 0;
  border-top: 2px solid;
  width: auto;
}

body {
  font-weight: 400;
  font-family: Lato, sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

section {
  margin: 2em auto;
}

section h2 {
  font-size: 1.75em;
  font-weight: 800;
  margin: 0em 0.5em;
}

section p {
  line-height: 1.2em;
  margin: 0.5em 2em;
}

section ul {
  margin: 0.5em 1em;
}

footer {
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* 
 * If the screen size is 500px wide or less, set the font-size of <h1> to 30px
 */
@media screen and (max-width: 500px) {
  html {
    line-height: 1.5em;
  }

  div .theme-switch {
    font-size: 1.5em;
  }

  div .theme-switch-text {
    font-size: 0.3em;
  }

  header h1 {
    font-size: 2.5em;
  }

  header h2 {
    font-size: 1em;
  }

  hr {
    margin: 0.5em 0.5em;
  }

  header .profile-pic {
    height: 8em;
    border-radius: 4em;
  }

  header .social-links {
    font-size: 1.5em;
  }

  section {
    margin: 1em auto;
  }

  section h2 .letter {
    font-size: 1em;
  }

  section p {
    font-size: 0.9em;
  }

  li {
    font-size: 0.9em;
  }

  footer .copyright {
    font-size: 0.9em;
  }
}

/* 
 * If the screen size is 350px wide or less, set the font-size of <h1> to 30px
 */
@media screen and (max-width: 350px) {
  html {
    line-height: 1em;
  }

  div .theme-switch {
    font-size: 1.25em;
  }

  div .theme-switch-text {
    font-size: 0.2em;
  }

  header h1 {
    font-size: 2em;
  }

  header h2 {
    font-size: 0.8em;
  }

  header .profile-pic {
    height: 6em;
    border-radius: 3em;
  }

  header .social-links {
    font-size: 1.25em;
  }

  section {
    margin: 0.5em auto;
  }

  section h2 .letter {
    font-size: 0.8em;
  }

  section p {
    font-size: 0.8em;
  }

  li {
    font-size: 0.8em;
  }

  footer .copyright {
    font-size: 0.8em;
  }
}
