.social-links {
  display: inline-block;
  color:#282C33;
  font-size: 2.5em;
  padding: 0px 8px;
  text-decoration: none;
}

.bounce:hover {
  animation: icon-bounce 0.8s 1 ease-in-out;
}

@keyframes icon-bounce {
  25% {
    transform: translateY(-0.5em);
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(-0.25em);
  }
  100% {
    transform: translateY(0px);
  }
}