.social-links {
  display: inline-block;
  color: inherit;
  font-size: 2em;
  padding: 0em 0.25em;
  text-decoration: none;
  transition: color 0.25s ease-out;
}

.twitter-color:hover {
  color: #1DA1F2;
}

.instagram-color:hover {
  color: #C13584;
}

.linkedin-color:hover {
  color: #0077B5;
}

.github-color:hover {
  color: #4078C0;
}

.bounce:hover {
  animation: icon-bounce 0.8s 1 ease-in-out;
}

@keyframes icon-bounce {
  25% {
    transform: translateY(-0.5em);
  }
  50% {
    transform: translateY(0em);
  }
  75% {
    transform: translateY(-0.25em);
  }
  100% {
    transform: translateY(0em);
  }
}
